body {
    width: 100%;
    min-height: 100vh;
}

.main-menu {
    height: auto;
}

    .main-menu .container {
        height: 15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .main-menu .container .logo {
            width: 20rem;
            display: flex;
            justify-content: space-between;

            transition: color 200ms linear;
            transition: transform 200ms linear;
        }

        .main-menu .container .logo:hover {
            color: var(--primary);
            transform: scale(1.20);
        }

            .main-menu .container img {
                width: 7.2rem;
            }

            .main-menu .container .logo h1 {
                font-size: 3.6rem;
                font-weight: bold;
                line-height: 3.6rem;
                color: inherit;
            }

        .main-menu .container .menu-navigation ul {
            width: 29rem;
            display: flex;
            justify-content: space-between;
        }

            .main-menu .container .menu-navigation ul li {
                font-size: 2.3rem;
                font-weight: 700;

                transition: color 200ms linear;
                transition: transform 200ms linear;
            }

            .main-menu .container .menu-navigation ul li:hover {
                color: var(--primary);
                transform: scale(1.20)
            }

            .main-menu .container .menu-navigation ul li.active {
                color: var(--primary);
            }

        .main-menu .container .contact-me-btn {
            width: 23rem;
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.4rem;
            font-weight: 600;
            color: var(--primary);
            background-color: white;
            border: 2px solid var(--primary);
            border-radius: 30px;
            cursor: pointer;

            transition: color 200ms linear;
            transition: background-color 200ms linear;
            transition: transform 200ms linear;
        }

        .main-menu .container .contact-me-btn:hover {
            color: white;
            background-color: var(--primary);
            transform: scale(1.15);
        }

.banner-section {
    height: auto;
    margin: 8rem 0rem;
}

    .banner-section .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: url(../images/banner-bg.svg) no-repeat right;
        background-size: clamp(32.5rem, 35vw, 50rem);
    }

        .banner-section .container header {
            width: 51rem;
        }

            .banner-section .container header h1 {
                font-size: 5.6rem;
                font-weight: bold;
                line-height: 6.5rem;
            }

                .banner-section .container header h1 span {
                    color: var(--primary);
                }

            .banner-section .container header p {
                font-size: 4.2rem;
                font-weight: 400;
                line-height: 5.2rem;
            }

            .banner-section .container header a img {
                width: 25rem;
                margin-top: 3rem;
            }

            .banner-section .container header a img:hover {
                filter: invert(33%) sepia(51%) saturate(6924%) hue-rotate(341deg) brightness(99%) contrast(110%);
            }

.readme-section {
    height: auto;
    margin: 8rem 0rem 2rem 0rem;
}

    .readme-section .container {
        height: 62rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        background: url(../images/readme-bg.svg) no-repeat left;
        background-size: clamp(32.5rem, 35vw, 50rem);
        text-align: end;
    }

        .readme-section .container h2 {
            font-size: 5.6rem;
            font-weight: bold;
            line-height: 6.5rem;
        }

            .readme-section .container h2 span {
                color: var(--primary);
            }

        .readme-section .container p {
            width: 40rem;
            font-size: 4.2rem;
            font-weight: normal;
            line-height: 5.7rem;
        }

.my-stacks-section {
    height: clamp(112rem, 78vw, 500rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/my-stacks-waves.svg) no-repeat center;
    background-size: cover;
}

    .my-stacks-section .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
    }

        .my-stacks-section .container .section-title h2 {
            color: white;
            font-size: 7.2rem;
            font-weight: bold;
            line-height: 9.8rem;
            margin-top: clamp(30rem, 20vw, 80rem);
        }

        .my-stacks-section .container .stacks-section ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-height: 31rem;
            flex-wrap: wrap;
            margin-top: 5rem;
        }

            .my-stacks-section .container .stacks-section ul li {
                font-size: 5.6rem;
                font-weight: bold;
                line-height: 7.6rem;
                margin-right: 5rem;
                color: white;
            }

                .my-stacks-section .container .stacks-section ul li img {
                    margin-right: 2.5rem;
                }

                    .green-elipse {
                        filter: invert(79%) sepia(20%) saturate(6942%) hue-rotate(47deg) brightness(108%) contrast(106%);
                    }

                    .blue-elipse {
                        filter: invert(34%) sepia(94%) saturate(1948%) hue-rotate(192deg) brightness(98%) contrast(113%);
                    }

                    .red-elipse {
                        filter: invert(31%) sepia(52%) saturate(4089%) hue-rotate(341deg) brightness(100%) contrast(105%);
                    }

            .my-stacks-section .container .red-line {
                margin-top: 5rem;
            }

            .my-stacks-section .container .stacks-caption {
                margin-top: 5rem;
            }

            .my-stacks-section .container .stacks-caption ul li {
                font-size: 3.6rem;
                font-weight: bold;
                line-height: 4.9rem;
                color: white;
            }

.main-services-section {
    margin-top: 12rem;
}


    .main-services-section .container h2 {
        font-size: 5.6rem;
        font-weight: bold;
        line-height: 6.5rem;
    }

        .main-services-section .container h2 span {
            color: var(--primary);
        }

    .main-services-section .container .cards-set {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4rem 0rem 8rem 0rem;
    }

        .main-services-section .container .cards-set .card {
            width: 30.5rem;
            height: 41.5rem;
            display: flex;
            flex-direction: column;
            border: 0.2rem solid #000;
            border-radius: 3.5rem;
        }

            .main-services-section .container .cards-set .card .card-image {
                width: 100%;
                height: 33rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .main-services-section .container .cards-set .card .card-description {
                width: 100%;
                height: 8.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: var(--primary);
                border-radius: 0px 0px 33px 33px;

                font-size: 2.4rem;
                font-weight: bold;
                text-align: center;
                line-height: 2.4rem;
            }

.some-projects-section {
    margin-top: 6rem;
    background: url(../images/right-project-image-bg.svg) no-repeat right 4%, url(../images/left-project-image-bg.svg) no-repeat left 88%;
}

    .some-projects-section .container h2 {
        font-size: 5.6rem;
        font-weight: bold;
        line-height: 6.5rem;
    }

        .some-projects-section .container h2 span {
            color: var(--primary);
        }

        .some-projects-section .container .text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: right;
            position: relative;
        }

        .some-projects-section .container .text:nth-child(even) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            text-align: left;
        }

        .some-projects-section .container .text p {
            margin-right: 10rem;
        }

        .some-projects-section .container .text:nth-child(even) p {
            margin-right: 0;
            margin-left: 10rem;
        }

        .some-projects-section .container .text img {
            position: absolute;
            right: -10rem;
        }

        .some-projects-section .container .text:nth-child(even) img {
            position: absolute;
            left: -10rem;
        }

        .text:first-child {
            margin-top: 5.5rem;
        }

        .text:last-child {
            margin-bottom: 18rem;
        }

        .text + .text {
            margin-top: 19.5rem;
        }

            .some-projects-section .container .texts .text p {
                width: 35rem;
                font-size: 2.4rem;
                font-weight: normal;
                line-height: 3.3rem;
                text-align: inherit;
            }

                .some-projects-section .container .texts .text p span {
                    font-weight: bold;
                    color: var(--primary);
                }