body {
    width: 100%;
    min-height: 100vh;
}

.main-menu {
    height: auto;
}

    .main-menu .container {
        height: 15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .main-menu .container .logo {
            width: clamp(15.5rem, 20vw, 20rem);
            display: flex;
            justify-content: space-between;

            transition: color 200ms linear;
            transition: transform 200ms linear;
        }

        .main-menu .container .logo:hover {
            color: var(--primary);
            transform: scale(1.20);
        }

            .main-menu .container img {
                width: clamp(6.5rem, 7vw, 7.2rem);
            }

            .main-menu .container .logo h1 {
                font-size: clamp(2.5rem, 3vw, 3.6rem);
                font-weight: bold;
                line-height: 3.6rem;
                color: inherit;
            }

        .main-menu .container .menu-navigation ul {
            width: clamp(20rem, 25vw, 29rem);
            display: flex;
            justify-content: space-between;
        }

            .main-menu .container .menu-navigation ul li {
                font-size: clamp(1.8rem, 2vw, 2.3rem);
                font-weight: 700;

                transition: color 200ms linear;
                transition: transform 200ms linear;
            }

            .main-menu .container .menu-navigation ul li:hover {
                color: var(--primary);
                transform: scale(1.20)
            }

            .main-menu .container .menu-navigation ul li.active {
                color: var(--primary);
            }

        .main-menu .container .contact-me-btn {
            width: clamp(16rem, 20vw, 20rem);
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.4rem;
            font-weight: 600;
            color: var(--primary);
            background-color: white;
            border: 2px solid var(--primary);
            border-radius: 30px;
            cursor: pointer;

            transition: color 200ms linear;
            transition: background-color 200ms linear;
            transition: transform 200ms linear;
        }

        .main-menu .container .contact-me-btn:hover {
            color: white;
            background-color: var(--primary);
            transform: scale(1.15);
        }

        .main-menu .container .mobile-menu-btn {
            display: none;
        }

    .mobile-menu {
        display: none;
    }

.banner-section {
    height: auto;
    margin: clamp(.5rem, 2.5vw, 8rem) 0rem;
}

    .banner-section .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: url(../images/banner-bg.svg) no-repeat right;
        background-size: clamp(32.5rem, 35vw, 50rem);
        padding: 2rem 0rem;
    }

        .banner-section .container header {
            width: clamp(30rem, 40vw, 51rem);
        }

            .banner-section .container header > img {
                display: none;
            }

            .banner-section .container header h1 {
                font-size: clamp(4.0rem, 5vw, 5.6rem);
                font-weight: bold;
                line-height: clamp(4.9rem, 5.9vw, 6.5rem);
            }

                .banner-section .container header h1 span {
                    color: var(--primary);
                }

            .banner-section .container header p {
                font-size: clamp(2.8rem, 3vw, 4.2rem);
                font-weight: 400;
                line-height: clamp(3rem, 4vw, 5.2rem);
            }

            .banner-section .container header a img {
                width: clamp(15rem, 20vw, 25rem);
                margin-top: 5rem;
                margin-bottom: 5rem;
            }

            .banner-section .container header a img:hover {
                filter: invert(33%) sepia(51%) saturate(6924%) hue-rotate(341deg) brightness(99%) contrast(110%);
            }

.readme-section {
    height: auto;
    margin: 12rem 0rem 2rem 0rem;
}

    .readme-section .container {
        height: clamp(40rem, 50vw, 62rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        background: url(../images/readme-bg.svg) no-repeat left;
        background-size: clamp(32.5rem, 35vw, 50rem);
        text-align: end;
    }

        .readme-section .container img {
            display: none;
        }

        .readme-section .container h2 {
            font-size: clamp(4.0rem, 5vw, 5.6rem);
            font-weight: bold;
            line-height: 6.5rem;
        }

            .readme-section .container h2 span {
                color: var(--primary);
            }

        .readme-section .container p {
            width: clamp(25rem, 40vw, 51rem);
            font-size: clamp(2.8rem, 3vw, 4.2rem);
            font-weight: normal;
            line-height: clamp(3rem, 4vw, 5.2rem);
        }

.my-stacks-section {
    height: clamp(112rem, 78vw, 500rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/my-stacks-waves.svg) no-repeat center;
    background-size: cover;
}

    .my-stacks-section .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
    }

        .my-stacks-section .container .section-title h2 {
            color: white;
            font-size: 7.2rem;
            font-weight: bold;
            line-height: 9.8rem;
            margin-top: clamp(30rem, 20vw, 80rem);
        }

        .my-stacks-section .container .stacks-section ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            max-height: 31rem;
            flex-wrap: wrap;
            margin-top: 5rem;
        }

            .my-stacks-section .container .stacks-section ul li {
                font-size: clamp(3.0rem, 4.5vw, 7.0rem);
                font-weight: bold;
                line-height: clamp(4rem, 9vw, 7.6rem);
                margin-right: 5rem;
                color: white;
            }

                .my-stacks-section .container .stacks-section ul li img {
                    margin-right: clamp(.5rem, 1vw, 2.5rem);
                    width: clamp(1.5rem, 2vw, 2.5rem);
                }

                    .green-elipse {
                        filter: invert(79%) sepia(20%) saturate(6942%) hue-rotate(47deg) brightness(108%) contrast(106%);
                    }

                    .blue-elipse {
                        filter: invert(34%) sepia(94%) saturate(1948%) hue-rotate(192deg) brightness(98%) contrast(113%);
                    }

                    .red-elipse {
                        filter: invert(31%) sepia(52%) saturate(4089%) hue-rotate(341deg) brightness(100%) contrast(105%);
                    }

            .my-stacks-section .container .red-line {
                margin-top: 5rem;
            }

            .my-stacks-section .container .stacks-caption {
                margin-top: 5rem;
            }

            .my-stacks-section .container .stacks-caption ul li {
                font-size: clamp(2.0rem, 3.5vw, 3.6rem);
                font-weight: bold;
                line-height: 4.9rem;
                color: white;
            }

                .my-stacks-section .container .stacks-caption ul li img {
                    margin-right: clamp(.5rem, 1vw, 2.5rem);
                    width: clamp(1.5rem, 2vw, 2.5rem);
                }

.main-services-section {
    margin-top: 12rem;
}


    .main-services-section .container h2 {
        font-size: clamp(4.0rem, 5vw, 5.6rem);
        font-weight: bold;
        line-height: 6.5rem;
    }

        .main-services-section .container h2 span {
            color: var(--primary);
        }

    .main-services-section .container .cards-set {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 4rem 0rem 8rem 0rem;
    }

        .main-services-section .container .cards-set .card {
            width: clamp(20rem, 25vw, 30.5rem);
            height: clamp(30rem, 36vw, 41.5rem);
            display: flex;
            flex-direction: column;
            border: 0.2rem solid #000;
            border-radius: 3.5rem;
        }

            .main-services-section .container .cards-set .card .card-image {
                width: 100%;
                height: 33rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .main-services-section .container .cards-set .card .card-image img {
                width: clamp(17rem, 20vw, 24rem);
            }

            .main-services-section .container .cards-set .card .card-description {
                width: 100%;
                height: 8.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                background-color: var(--primary);
                border-radius: 0px 0px 33px 33px;

                font-size: clamp(1.5rem, 2vw, 2.4rem);
                font-weight: bold;
                text-align: center;
                line-height: 2.4rem;
            }

.some-projects-section {
    margin-top: 6rem;
    background: url(../images/right-project-image-bg.svg) no-repeat right 4%, url(../images/left-project-image-bg.svg) no-repeat left 88%;
    background-size: 52rem;
}

    .some-projects-section .container h2 {
        font-size: 5.6rem;
        font-weight: bold;
        line-height: 6.5rem;
    }

        .some-projects-section .container h2 span {
            color: var(--primary);
        }

        .some-projects-section .container .text {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: right;
            position: relative;
        }

        .some-projects-section .container .text:nth-child(even) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: flex-start;
            text-align: left;
        }

        .some-projects-section .container .text p {
            margin-right: 10rem;
        }

        .some-projects-section .container .text:nth-child(even) p {
            margin-right: 0;
            margin-left: 10rem;
        }

        .some-projects-section .container .text img {
            position: absolute;
            right: clamp(-10rem, -3.7vw, 0rem);
        }

        .some-projects-section .container .text:nth-child(even) img {
            position: absolute;
            left: clamp(-10rem, -3.7vw, 0rem);
        }

        .text:first-child {
            margin-top: 5.5rem;
        }

        .text:last-child {
            margin-bottom: 18rem;
        }

        .text + .text {
            margin-top: 19.5rem;
        }

            .some-projects-section .container .texts .text p {
                width: 35rem;
                font-size: 2.4rem;
                font-weight: normal;
                line-height: 3.3rem;
                text-align: inherit;
            }

                .some-projects-section .container .texts .text p span {
                    font-weight: bold;
                    color: var(--primary);
                }

.send-me-a-message-section {
    margin-top: 10rem;
    margin-bottom: 14rem;
}

    .send-me-a-message-section .container {
        background: url(../images/contact-form-bg.svg) no-repeat right 60%;
        background-size: clamp(28rem, 35vw, 50rem);
    }

        .send-me-a-message-section .container img {
            display: none;
        } 

        .send-me-a-message-section .container h2 {
            font-size: clamp(3.5rem, 5vw, 5.0rem);
            font-weight: bold;
            line-height: 6.5rem;
            margin-bottom: 3rem;
        }

            .send-me-a-message-section .container h2 span {
                color: var(--primary);
            }

    .send-me-a-message-section .container form label,
    .send-me-a-message-section .container form textarea {
        display: block;
        margin: 1.4rem 0rem 1rem 0rem;
        font-size: 1.8rem;
        font-weight: 200;
        line-height: 2.5rem;
        cursor: pointer;
    }

    .send-me-a-message-section .container form input, 
    .send-me-a-message-section .container form textarea,
    .send-me-a-message-section .container form button {
        width: clamp(32rem, 45vw, 45rem);
        height: 5rem;
        font-size: 1.8rem;
        font-weight: 200;
        line-height: 2.5rem;
        padding: 0rem 2.5rem;
        border: 1px solid #000;
        border-radius: 4rem;
        outline: none;
    }

    .send-me-a-message-section .container form textarea {
        height: 20rem;
        padding: 2rem 2.5rem;
        margin-bottom: 3rem;
        resize: none;
        cursor: initial;
    }

    .send-me-a-message-section .container form button {
        height: 6.4rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 2rem;
        color: white;
        background-color: var(--primary);
        border: none;
        outline: none;
    }

    .send-me-a-message-section .container form button:hover {
        background-color: var(--primary-hover);
        cursor: pointer;
    }

.footer-section {
    margin-top: 1rem;
    margin-bottom: 7.2rem;
}

    .footer-section .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }


        .footer-section .container .logo {
            width: 20rem;
            display: flex;
            justify-content: space-between;

            transition: color 200ms linear;
            transition: transform 200ms linear;
        }

        .footer-section .container .logo:hover {
            transform: scale(1.20);
        }

            .footer-section .container .logo img {
                width: 7.2rem;
            }

            .footer-section .container .logo h1 {
                font-size: 3.6rem;
                font-weight: bold;
                line-height: 3.6rem;
                color: inherit;
            }

        .footer-section .container .footer-final-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
        }

            .footer-section .container .footer-final-box p {
                font-size: 2.4rem;
                font-weight: 200;
                line-height: 3.6rem;
            }

            .footer-section .container .footer-final-box .social-icons {
                width: 12rem;
                display: flex;
                justify-content: space-between;
            }

                .footer-section .container .footer-final-box .social-icons a {
                    transition: transform 200ms linear;
                }

                .footer-section .container .footer-final-box .social-icons a:hover {
                    transform: scale(1.20);
                }

/* Tablet Responsivity Adjustments */

@media only screen and (max-width: 1159px) {
    .some-projects-section {
        background: none;
    }
        .some-projects-section .container .text {
            flex-direction: column-reverse;
            align-items: flex-start;
        }

        .some-projects-section .container .text:nth-child(even) {
            flex-direction: column-reverse;
        }

            .some-projects-section .container .texts .text p {
                width: 100%;
                margin: 4rem 0rem 0rem 0rem;
                text-align: left;
            }

            .some-projects-section .container .text:nth-child(even) p {
                margin-left: 0;
            }

            .some-projects-section .container .text img {
                width: 100%;
                position: initial;
            }

            .some-projects-section .container .text:nth-child(even) img {
                position: initial;
            }

            .text:first-child {
                margin-top: 8rem;
            }

            .text:last-child {
                margin-bottom: 0rem;
            }

            .text + .text {
                margin-top: 10rem;
            }
    .send-me-a-message-section {
        margin-top: 5rem;
    }
}

/* Mobile Version */

@media only screen and (max-width: 719px) {


.main-menu .container .menu-navigation {
        display: none;
    }

    .main-menu .container .contact-me-btn {
        display: none;
    }

    .main-menu .container .mobile-menu-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        z-index: 100;
    }

    .mobile-menu-btn .nav-line {
        width: 5rem;
        height: 0.1rem;
        background-color: #000;
        transition: transform 200ms linear;
    }

    .mobile-menu-btn .nav-line + .nav-line {
        margin-top: 1.5rem;
    }

    .mobile-menu {
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 50;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        transition: display 1s linear;
    }

        .mobile-menu .menu-navigation ul a li {
            font-size: clamp(3.5rem, 10vw, 4.5rem);
            font-weight: 700;
            text-align: center;
            transition: color 200ms linear;
            transition: transform 200ms linear;
        }

        .mobile-menu .menu-navigation ul a + a li {
            margin-top: 1.5rem;
        }

        .mobile-menu .menu-navigation ul li:hover {
            color: var(--primary);
            transform: scale(1.20)
        }

        .mobile-menu .menu-navigation ul li.active {
            color: var(--primary);
        }


.banner-section {
    height: auto;
}

    .banner-section .container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        background-size: none;
    }

    .banner-section .container header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

        .banner-section .container header img {
            display: flex;
            width: 100%;
            margin-bottom: 2rem;
        }

        .banner-section .container header h1 {
            text-align: center;
        }

        .banner-section .container header p {
            text-align: center;
            margin-top: 1.2rem;
        }

.readme-section {
    height: clamp(50rem, 140vw, 100rem);
    display: flex;
    align-items: center;
    margin: clamp(5rem, -15vw, 20rem) 0 0 0;
}

    .readme-section .container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
    }

        .readme-section .container img {
            display: flex;
            width: 100%;
            margin-bottom: 2rem;
        }

        .readme-section .container h1 {
            text-align: center;
        }

        .readme-section .container p {
            text-align: center;
            margin-top: 1.2rem;
        }

.my-stacks-section {
    height: clamp(180rem, 78vw, 500rem);
}

    .my-stacks-section .container {
        width: 100vw;
        align-items: center;
    }

        .my-stacks-section .container .section-title h2 {
            margin-top: 40rem;
            margin-left: 2rem;
            text-align: center;
        }

        .my-stacks-section .container .stacks-section ul {
            max-height: 80rem;
            margin-left: 2rem;
        }

            .my-stacks-section .container .stacks-section ul li {
                font-size: clamp(2.5rem, 4.5vw, 7.0rem);
                line-height: clamp(4rem, 9vw, 5.5rem);
            }

                .my-stacks-section .container .stacks-section ul li img {
                    margin-right: clamp(2.5rem, 1vw, 3rem);
                }

            .my-stacks-section .container .red-line {
                width: 20rem;
                margin-left: 2rem;
            }

            .my-stacks-section .container .stacks-caption {
                margin-left: 2rem;
            }

.main-services-section .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .main-services-section .container h2 {
        text-align: center;
        line-height: clamp(4.0rem, 5vw, 5.6rem);
    }

    .main-services-section .container .cards-set {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-services-section .container .cards-set .card {
        width: clamp(25rem, 25vw, 30.5rem);
        height: clamp(35rem, 36vw, 41.5rem);
    }

        .main-services-section .container .cards-set .card .card-image img {
            width: clamp(23rem, 20vw, 24rem);
        }

    .card + .card {
        margin-top: 4rem;
    }

.some-projects-section .container h2 {
    font-size: clamp(4.0rem, 5vw, 5.6rem);
    line-height: clamp(3.5rem, 5vw, 5.0rem);
    text-align: center;
}

    .some-projects-section .container .texts .text p {
        text-align: center;
    }

.send-me-a-message-section .container {
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .send-me-a-message-section .container h2 {
        text-align: center;
        line-height: clamp(3.5rem, 5vw, 5.0rem);
    }

    .send-me-a-message-section .container img {
        display: flex;
        width: 100%;
        margin-top: 8rem;
    }

    .send-me-a-message-section .container form input, 
    .send-me-a-message-section .container form textarea, 
    .send-me-a-message-section .container form button {
        width: clamp(20rem, 45vw, 45rem);
}

.footer-section .container {
    align-items: center;
}

    .footer-section .container .footer-final-box {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

        .footer-section .container .footer-final-box .social-icons {
            margin: 1rem 0rem 1rem 0rem;
        }

        .footer-section .container .footer-final-box p {
            text-align: center;
        }

}