:root {
    font-size: 62.5%;
    --primary: #FF3233;
}

* {
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    list-style-type: none;
    box-sizing: border-box;
    outline: none;
}

.justify-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 101rem;
    margin: 0rem 4rem;
}
 